.sidebar-wrapper {
  width: $sidebar-size;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  border-right: 1px solid $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media(min-width: 800px) {
    pointer-events: none;
  }
  // background-color: $white;


  img {
    padding-left: 20px;
    height: auto;
    padding-right: 50px;
    width: 280px;
    pointer-events: all;
    height: auto;
    margin-bottom: 50px;
  }

  .sidebar-footer {
    padding-left: 50px;
    padding-right: 50px;
    pointer-events: all;
    a {
      color: $grey;
      display: block;
      text-transform: uppercase;
      font-size: 1.2rem;
      &:first-of-type() {
        margin-bottom: 20px;
      }
    }
  }

  @media(max-width: 800px) , (max-height: 600px){
    position: relative;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: auto;
    .main-nav {
      display: none;
    }
    .main-nav-logo {
      display: none;
    }
    .mobile-nav {
      display: block;
    }
    img {
      width: 150px;
      margin-bottom: 0;
      padding: 0;
    }
  }
}

.sidebar-nav {
  pointer-events: all;

  li {
    font-family: $sans;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
    a {
      color: $grey;
      font-weight: 600;
      font-size: 1.2rem;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


.mobile-nav {
  display: none;
  .mobile-nav-content {
    position: fixed;
    top: -200vh;
    left: 0;
    width: 100vw;
    background-color: $white;
    z-index: 1;
    border-bottom: 1px solid $grey-m;
    li {
      margin-bottom: 20px;
      a {
        padding-left: 30px !important;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
    a.active {
      position: relative;
      padding-left: 25px !important;
      // left: -15px;
    }
    .navbar-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 30px;

    }
  }
  .sidebar-footer {
    padding: 0;
    padding-bottom: 50px;
    margin-top: 40px;
    padding-left: 30px;
    a {
      font-size: 1.4rem;
      color: $grey;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  .hamburger {
    padding: 0;
  }
}


.mobile-nav-content.slideIn {
	animation: slideIn 0.5s ease forwards;
	transform-origin: center;
	will-change: transform;
}
.mobile-nav-content.slideOut {
	animation: slideOut 1s ease forwards;
	transform-origin: center;
	will-change: transform;
}

@keyframes slideIn {
	to {
		top: 0;
	}
}

@keyframes slideOut {
	from {
		top: 0;
	}
	to {
		top: -100vh;
	}
}


.hamburger-inner {
  height: 2px;
  &:before {
    height: 2px;
  }
  &:after {
    display: none;
  }
}
