.file-browser {
  padding-top: 50px;
  transition: all 400ms;

  @media(max-width: 600px) {
    width: calc(100vw - 10%);
    // max-width: 1500px;
    padding: 0px $container-padding;
    margin: auto;
    @media(max-width: 1024px){
      padding: 50px;
    }
    @media(max-width: 800px){
      padding: 30px;
    }
  }

  .left {
    width: 300px;
    padding-right: 50px;
  }

  &.is-loading {
    opacity: 0.2;
  }
}

.files {
  position: relative;
}
//
// .folder:hover {
//   cursor: pointer;
// }
//
// .folder {
//   position: relative;
//   width: 250px;
//   padding: 20px;
//   text-align: center;
// }
//
// .folder img {
//   width: 50px;
//   height: auto;
//   position: absolute;
//   left: -50px;
//   top: 40%;
//   display: block;
//
// }
//
// .folder p {
//   color: crimson;
// }

.file {
  position: relative;
  width: 100%;
  margin-top: 10px;

  display: flex;
  align-items: center;

  .info {
    display: flex;
  }
  ul {
    margin-left: 15px;
    display: flex;
    opacity: 0;
    transition: all 300ms;

    li {

      a {
        padding-left: 10px;
        padding-right: 10px;
        color: $brand;
        font-weight: 600;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;

    ul {
      opacity: 1;
    }

  }

  &:hover {
    p {
      opacity: .4;
    }
  }
}

.file p {
  margin: 0;
  display: inline-block;
  transition: all 300ms;

  &:hover {
    cursor: pointer;
  }
}

.file img  {
  width: 40px;
  height: 30px;
  object-fit: contain;
  position: absolute;
  left: -50px;
  top: -20%;
  display: block;
  border: 0;
  overflow: hidden;
  @media(max-width: 600px) {
    object-fit: cover;
  }
}

.files .img-box {
  width: 40px;
  height: 30px;
  position: absolute;
  left: -50px;
  top: -10%;
  display: block;
  border: 0;
  overflow: hidden;

  @media(max-width: 600px) {
    width: 100%;
  }
}

.file.gallery .img-box {
  width: 40px;
  height: 30px;
  position: absolute;
  left: -50px;
  top: -20%;
  display: block;
  border: 0;
  overflow: hidden;
}

.file.image img {
  left: 0;
  top: 0;
}

.gallery {
  display: flex;

  flex-wrap: wrap;
  position: relative;
  padding-right: 50px;

  @media(max-width: 600px) {
    padding-right: 0;
  }

  .file {
    flex-direction: column;
    width: calc(25% - 10px);
    position: relative;
    justify-content: center;
    min-width: 150px;
    min-height: 100px;
    height: 11vw;


  }

  .folder img {
    // object-fit: contain !important;
  }
  .file.image, .folder {
    width: calc(25% - 10px);
    // display: none;
    position: relative;
    margin: 5px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: transparentize($black, .7);
      z-index: 1;
      pointer-events: none;
      transition: all 200ms;
    }

    &.image {
      display: block;
      .img-box {
        width: 100%;
        min-width: 150px;
        min-height: 100px;
        height: 11vw;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        @media(max-width: 600px) {
          height: 50vw;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      position: static;
      object-fit: contain;
      pointer-events: all;
      @media(max-width: 600px) {
        object-fit: cover;
      }
    }
    .info {
      // display: none;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      text-align: center;
      pointer-events: none;
      width: 100%;
      height: 100%;
      padding-bottom: 10px;
      p, ul {
        position: static;
        pointer-events: all;
      }
      ul {
        color: $white;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      p {
        opacity: 0;
        color: $white;
        word-break: break-all;
      }
    }

    &:hover {
      .info {
        display: flex;
      }

      ul {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
      }
      p {
        opacity: 1;
      }

      &:before {
        opacity: 1;
      }
    }

    @media(max-width: 600px) {
      width: 100%;
      height: auto;
      max-height: 400px;
    }
  }

  .folder {

    .info {
      // justify-content: center;

    }
    .info p{
      opacity: 1;
      display: block;
      color: $white;
      max-width: 130px;
      margin-left: auto;
      margin-right: auto;
      word-break: normal;
      font-size: 1.2rem;
      padding-bottom: 20px;
    }

    &:hover {
      .info {
        display: flex;
      }

      &:before {
        opacity: 0;
      }
    }
  }

}

#spinner .spinner {
  top: 50px !important;
  right: 100px !important;
  left: auto !important;
}

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}


.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;

  li {

    display: block;

    button {
      display: block;
      margin: 5px;
      padding: 8px 10px;
      border: 1px solid $black;

    }

    &:hover, &.active {
      a {
        background-color: $black;
        color: $white;
      }
    }
  }
}

.back-button {
  position: absolute;
  top: -50px;
  left: 0;

  img {
    width: 20px;
    height: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

// .img-load-bg{
//     position: absolute;
//     left: -46px;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -2;
//     width: 400%;
//     height: 100%;
//   background: repeating-linear-gradient(
//     -55deg,
//     $white 1px,
//     $grey-l 2px,
//     $grey-l 11px,
//     $white 12px,
//     $white 20px
// 	);
//
//     animation-name: MOVE-BG;
// 	animation-duration: 3s;
// 	animation-timing-function: linear;
// 	animation-iteration-count: infinite;
// }

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(46px);
	}
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: scale(.5)
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.switch-box {
  display: flex;
  align-items: center;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $black;
}

input:focus + .slider {
  box-shadow: 0 0 1px $black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
