.lightbox {
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .content {
    max-height: 100vh;
    overflow-y: scroll;
    position: relative;
    z-index: 2;
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    color: $black;
    background-color: $white;
    padding: 8px 10px;
    z-index: 1001;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .close-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1
  }
}
