
#okta-sign-in.auth-container .button-primary {
  background: $brand_1 !important;
  border: $brand_1;

  &:hover {
    background: $brand_1;
    opacity: .5;
  }
}


.o-form-button-bar.focused-input {
  .button-primary {
    background: $brand;
  }
}


.logout {
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
  pointer-events: all;
}
