.btn {
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
  color: $white;
  background-color: $brand_1;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px $brand_1;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  appearance: none;
  &:hover {
    color: $white;
    cursor: pointer;
    opacity: 0.5;
  }

  &_1 {
    @extend .btn;
  }
}
