@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: 700;
}

 //FONTS
$sans: 'Helvetica', sans-serif;
$title: 'Helvetica', sans-serif;


h1, h2, h3, h1 a, h2 a, h3 a {
  font-family: $title;
  font-weight: 100;
  margin: 0;
}

h1, .h1 {
  font-size: 5.5rem;
}

h2, .h2 {
  font-size: 3.5rem;
  // line-height: 5.5rem;
    font-weight: 500;
}

h3, .h3 {
  font-size: 3rem;
}

h4, .h4 {
  font-family: $sans;
  font-size: 1.5rem;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

h5, .h5 {
  font-weight: 100;
  letter-spacing: .15rem;
  font-size: 1.25rem;
}

p {
  font-family: $sans;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 25px;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.caps {
  text-transform: uppercase;
}

::selection {
  // background-color: rgba($brand_2, .8);
  // color: $brand_3d;
}


a {
  color: $grey;
  text-decoration: none;
  font-family: $sans;
    &:hover, &:focus {
      color: inherit;
      text-decoration: none !important;
    }
}

//GENERAL MEDIA Q

.bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}
