

/* =Variables
-------------------------------------------------------------- */
$base-font-size: 16px;
$base-body-color: #fff;
$icon-color: #4D4E50;
$primary-font-color: #000;
$link-color: #4D4E50;
$shadow: 0 0 8px 0 rgba(0,0,0,0.31);

$white: #fff;
$grey-d: #2D2D2D;

$sidebar-size: 280px;

//Transition

$speed : 300ms;



//Margins
$unit : 25px;

$unit_sm : $unit - 15px;

$unit_lg : $unit + 50px;


.mar_t {
  margin-top: $unit;
}

.mar_b {
  margin-bottom: $unit;
}


@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
